@media screen and (max-width:600px) {
 .header-section{
  flex-direction: column;
  align-items: center;
 }
 .menu-container {
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  flex-direction: column;
}
.banner-content {

  height: 50%;
  
 justify-content: center;
 }
 .banner-content h1 {
  color: #FFF;
 font-size: 1.35rem;
 font-weight: 800;
 }
 .banner-content p {
  color: #FFF;
  font-size: .85rem;
  font-weight: 400;
  line-height: 21px;
  }
  .banner-select-option {
    height: 50%;
    /* border: 2px dashed yellowgreen; */
    border-radius: 8px;
    flex-direction: column;
    background: rgba(255, 255, 255, .30);
    
   }
   .tour {
    flex-direction: column;
    gap: 25px;
  }
  .content-container{
   width: 100%;
  }
  .img-container{
    width: 100%;
    /* border: 2px red solid; */
  }
 
  .row1 {
    grid-template-columns: repeat(1,1fr);
    gap: 15px;
  }
  .row2 {
    grid-template-columns: repeat(1,1fr);
    gap: 15px;
  }
  .row3 {
    grid-template-columns: repeat(1,1fr);
    gap: 15px;
  }
  .destination img{
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  

}